@font-face {
  font-family: "iconfont"; /* Project id 2946407 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1680848421996') format('woff2'),
       url('iconfont.woff?t=1680848421996') format('woff'),
       url('iconfont.ttf?t=1680848421996') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiucuo:before {
  content: "\e611";
}

