.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
.content{
  width: 100%;
  margin-top: 12px;
  min-height: 457px;
  background-color: #fff;
  #myChart{
    padding: 26px 0 0 12px;
  }
  .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .group{
    display: flex;
    align-items: center;
    padding: 12px;
    background: url(../assets/images/bgi2.png)no-repeat center center;
    margin-bottom: 25px;
    .group_l{
      width: 54px;
      height: 45px;
      border-radius: 4px;
      background: #2375ea;
      line-height: 45px;
      text-align: center;
      font-weight: 700;
      font-size: 15px;
      color: #fff;
    }
    .group_r{
      padding: 12px;
      font-size: 15px;
      font-weight: 500;
      span{
        color: #2375ea;
        font-size: 15px;
        font-weight: 500;
        margin: 0 10px;   
      }
    }
  }
}
}